<div class="row" style="margin:1%;">
  <div class="col-md-12" style="text-align: center;">

    <div class="card shadow bg-white rounded">
      <div class="card-body">

        <mat-horizontal-stepper [linear]="isLinear">

          <!--STEP ONE : Personal Details-->
          <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">

            <h2>Add your personal details</h2>

            <form [formGroup]="firstFormGroup">

              <ng-template matStepLabel>Personal Details</ng-template>

              <!--full name-->
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Full Name</mat-label>
                  <input matInput formControlName="name_validation" placeholder="eg. Mr.Srijith Radhakrishnan" required>
                </mat-form-field>
              </p>

              <!--gender-->
              <p>
                  <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender_validation" required>
                      <mat-option *ngFor="let g of gender_list" [value]="g">{{g}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </p>
  
              <!--country-->
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country_validation" required>
                    <mat-option *ngFor="let c of country_list" [value]="c">{{c}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>

              <!--state-->
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state_validation" required>
                    <mat-option *ngFor="let s of state_list" [value]="s">{{s}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </p>

              <!--phone-->
              <p>
                <mat-form-field appearance="outline" >
                  <mat-label>Phone</mat-label>
                  <ngx-mat-intl-tel-input formControlName="phone_validation"
                  [preferredCountries]="['in', 'us']"
                  [enablePlaceholder]="true"
                  [enableSearch]="true" name="phone" #phone  >
                </ngx-mat-intl-tel-input>
                </mat-form-field> 
              </p>
  
              <div>
                <button mat-button matStepperNext class="form_button">Next</button>
              </div>

              <p style="margin-top: 1%;">Already have an account? <a href="#" style="color: #d35400;">Log In</a></p>

            </form>

          </mat-step>
          <!--STEP ONE : Personal Details-->

          <!--STEP TWO : Company Details-->
          <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">

            <h2>Add your Company details</h2>

            <form [formGroup]="secondFormGroup">

              <ng-template matStepLabel>Company Details</ng-template>

              <!--company logo-->
              <p>
                <label class="img_upload" for="file-input" style="cursor: pointer;">
                  <img [src]="url" height="70">
                </label>
                &nbsp;<span style="color: #d35400;">Upload your company logo</span>
                <input id="file-input" style="opacity: 0;" type="file" (change)="selectfile($event)">   
              </p>

              <!--company name-->
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Company Name</mat-label>
                  <input matInput placeholder="eg. Squash Apps Private Ltd." formControlName="companyname_validation" required>
                </mat-form-field>  
              </p>
              
              <!--email id-->
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email id</mat-label>
                  <input matInput [formControl]="secondFormGroup.controls.email_validation"
                  [errorStateMatcher]="matcher" 
                  placeholder="eg. srijith@squashapps.com">
                  <mat-error *ngIf="secondFormGroup.controls.email_validation.hasError('email') && !secondFormGroup.controls.email_validation.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="secondFormGroup.controls.email_validation.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </p>  
              
               <!--job title-->
               <p>
                <mat-form-field appearance="outline">
                  <mat-label>Job Title</mat-label>
                  <input matInput placeholder="eg. User Experience Designer" formControlName="jobtitle_validation" required>
                </mat-form-field>  
              </p>

               <!--experience-->
               <p>
                <mat-form-field appearance="outline">
                  <mat-label>Years of Experience</mat-label>
                  <input matInput placeholder="eg. 1" formControlName="experience_validation" required>
                </mat-form-field>  
              </p>

              <!--terms and conditions-->
              <p>
                <mat-checkbox formControlName="agreement_validation" required>I accept the <span style="color: #d35400;">Terms and Conditions</span></mat-checkbox>
              </p>
              

              <div>
                <button mat-button matStepperPrevious class="back_button">Back</button>&nbsp;
                <button mat-button matStepperNext class="form_button">Next</button>
              </div>

            </form>
          </mat-step>
          <!--STEP TWO : Company Details-->

          <!--STEP THREE : Email Verification-->
          <mat-step>

            <h2>Enter your OTP</h2>
            <h4>For your security, we need to verify your identity. We sent a 5-digit<br/>code to name@domain.com. Please enter it below.</h4>

            <ng-template matStepLabel>Email Verification</ng-template>

            <!--OTP entry-->
            <p>
              <ng-otp-input [config]="{length:5}"></ng-otp-input>
            </p>


            <div>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>

            <p>
              Didn't receive the email? Check your spam filter for an email from<br/><span style="color: #d35400;">name@domain.com</span>
            </p>

          </mat-step>
          <!--STEP THREE : Email Verification-->

        </mat-horizontal-stepper>

      </div>
    </div>

  </div>
</div>



<router-outlet></router-outlet>